GUI/Connected Services/ServiceReference1/ComponentsReturn2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ComponentsReturn?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClassLibrary.DataModel" />
  <xs:element name="ReturnArmor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnArmorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ClassLibrary.DataModel" minOccurs="0" name="ReturnArmorResult" nillable="true" type="q1:ArrayOfArmor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnWeapon">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnWeaponResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ClassLibrary.DataModel" minOccurs="0" name="ReturnWeaponResult" nillable="true" type="q2:ArrayOfWeapon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnEnemyShip">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnEnemyShipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ClassLibrary.DataModel" minOccurs="0" name="ReturnEnemyShipResult" nillable="true" type="q3:ArrayOfEnemyShip" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnStarShip">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnStarShipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ClassLibrary.DataModel" minOccurs="0" name="ReturnStarShipResult" nillable="true" type="q4:ArrayOfStarShip" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Is_successful_registration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Is_successful_registrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Is_successful_registrationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ClassLibrary.DataModel" minOccurs="0" name="ReturnUserResult" nillable="true" type="q5:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRegestration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRegestrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserRegestrationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnAllUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnAllUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ClassLibrary.DataModel" minOccurs="0" name="ReturnAllUserResult" nillable="true" type="q6:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ClassLibrary.DataModel" minOccurs="0" name="user" nillable="true" type="q7:User" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ClassLibrary.DataModel" minOccurs="0" name="starShip" nillable="true" type="q8:StarShip" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>